{{- $u := urls.Parse .Destination -}}
{{- $alt := plainify .Text -}}
{{- $title := plainify .Title -}}
{{- $img := "" -}}
{{- $originalPath := "" -}}

{{- if $u.IsAbs -}}
  {{- with resources.GetRemote $u.String -}}
    {{- with .Err -}}
      {{- errorf "%s" -}}
    {{- else -}}
      {{- $img = . -}}
      {{- $originalPath := ".RelPermalink" -}}
    {{- end -}}
  {{- else -}}
    {{- errorf "Unable to get remote image" -}}
  {{- end -}}
{{- else -}}
  {{- with .Page.Resources.GetMatch $u.Path -}}
    {{- $img = . -}}
    {{- $originalPath := ".RelPermalink" -}}
  {{- else -}}
    {{- errorf "Unable to get local image" -}}
    {{- errorf $u.Path -}}
  {{- end -}}
{{- end -}}

{{ $img = $img.Process "webp" }}

{{- with $img -}}
  <figure>
      <img class="lazyload img-zoomable" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
        {{- with $alt }} alt="{{ . }}" {{- end -}}
        {{- with $title }} title="{{ . }}" {{- end -}} 
        />
      {{- with $alt -}} <figcaption>{{ . }}</figcaption> {{- end -}}
  </figure>
{{- end -}}
